<?xml version="1.0" encoding="Shift_JIS"?>
<!DOCTYPE html PUBLIC "-//i-mode group (ja)//DTD XHTML i-XHTML(Locale/Ver.=ja/1.0) 1.0//EN" "i-xhtml_4ja_10.dtd">
<html xml:lang="ja" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=Shift_JIS" />
    <title>{{ app_data['title'] }}</title>
</head>
<body>
<div style="text-align:center;">
    <h3>{{ app_data['title'] }}</h3>
    <hr />
    ＊＊＊＊ここは＊＊＊＊
    <h3>{{ name }}</h3>
    ＊＊＊＊だよ。＊＊＊＊
    <hr />
    <h3>OK(ｱﾌﾟﾘ内へ遷移)</h3>
    <p>
    <a href="{{ app_data['mixi_uri']['raw'] }}{{ app_data['id']['self'] }}/">ﾄｯﾌﾟﾍﾟｰｼﾞ</a>
    <a href="?guid=ON&url={{ app_data['my_service_uri']['enc'] }}hello">別ﾍﾟｰｼﾞ</a>
    </p>
    <h3>OK(別ｱﾌﾟﾘtopへ遷移)</h3>
    <p>
    <a href="{{ app_data['mixi_uri']['raw'] }}{{ app_data['id']['other'] }}/">初めてのﾓﾊﾞｲﾙｱﾌﾟﾘ 2nd</a>
    </p>

    <h3>NG(別ｱﾌﾟﾘtop以外へ遷移)</h3>
    <p>
    <a href="{{ app_data['mixi_uri']['raw'] }}{{ app_data['id']['other'] }}/?guid=ON&url={{ app_data['other_service_uri']['enc'] }}hello">初めてのﾓﾊﾞｲﾙｱﾌﾟﾘ2ndのurlﾊﾟﾗﾒｰﾀ指定</a>
    </p>
    <hr />
    <h3>app_idとurlを指定</h3>
    <form action="?guid=ON&url={{ app_data['my_service_uri']['raw'] }}url" method="post">
        {{ app_data['mixi_uri']['raw'] }}<br />
        <input name="field_app_id" size=5 type="text" value="{{ app_data['id']['self'] }}" />
        /?guid=ON&amp;url=<br />
        <input name="field_url" size=30 type="text" value="http://www.google.com/" />
        <br />
        <input type="submit" value="ﾘﾝｸ生成" />
    </form>
    (urlパラメータはエンコード前でおｋ)
    <hr />
    OAuth Signature
    <p>
        got: <br />
        {{ app_data['oauth_signature']['got'] }}
    </p>
    <p>
        expect: <br />
        {{ app_data['oauth_signature']['expect'] }}
    </p>
    {% if app_data['oauth_signature']['result'] is sameas false %}
    <div style="background-color:#c00; color:white;">
    {% else %}
    <div style="background-color:#00c; color:white;">
    {% endif %}
    <b>{{ app_data['oauth_signature']['result'] }}</b>
    </div>
    <hr />
</div>
</body>
</html>

